__pycache__/
*.pyc
*.pyo
*.pyd
.env
.git
.gitignore
*.zip
*.ps1
*.tar
Shared flows/
KVM/
Framework SF/
tests/
test_api.py
apigee_manager.py
service-account.json
methodical-mark-482504-j3-03dcf3d06446.json
